{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="two-panel-container">
  <!-- Left Panel -->
  <div class="two-panel-left">
    <h2>Welcome Back!</h2>
    <p>Don't have an account?</p>
    <a href="{% url 'register' %}" class="btn-outlined">Register</a>
  </div>
  <!-- Right Panel -->
  <div class="two-panel-right">
    <div class="login-form">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-solid">Login</button>
      </form>
      <div class="extra-links">
        <a href="#">Forgot Password?</a>
      </div>
      <p class="or">or login with</p>
      <div class="social-icons">
        <a href="#"><img src="{% static 'images/google.png' %}" alt="Google"></a>
        <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'images/github.png' %}" alt="GitHub"></a>
        <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
