{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="two-panel-container">
  <!-- Left Panel -->
  <div class="two-panel-left">
    <h2>Welcome!</h2>
    <p>Already have an account?</p>
    <a href="{% url 'login' %}" class="btn-outlined">Login</a>
  </div>
  <!-- Right Panel -->
  <div class="two-panel-right">
    <div class="login-form">
      <h2>Create an Account</h2>
      <form method="post">
        {% csrf_token %}
        <!-- Two-Column Grid for Fields -->
        <div class="two-column-fields">
          <div class="form-group">
            <label for="id_username">Username</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label for="id_phone_number">Phone Number</label>
            {{ form.phone_number }}
          </div>
          <div class="form-group">
            <label for="id_password1">Password</label>
            {{ form.password1 }}
          </div>
  
        </div>
        <button type="submit" class="btn-solid mt-3">Sign Up</button>
      </form>

       <p class="or">or signup with</p>
      <div class="social-icons">
        <a href="#"><img src="{% static 'images/google.png' %}" alt="Google"></a>
        <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'images/github.png' %}" alt="GitHub"></a>
        <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a>
      </div>
    </div>
  </div>
</div>
{% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
{% endif %}

{% endblock %}
