{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Support{% endblock title %}

{% block content %}
<div class="container my-5">
  <h4 class="mb-4">Customer Support</h4>
  <p>Need Help? Contact us now.</p>

  <p>
    <strong>Call us at:</strong> 
    <a href="tel:+255683602474" class="text-decoration-none text-dark">
      +255 683 602 474
    </a>
  </p>
  
  <p>
    <strong>Email us at:</strong> 
    <a href="mailto:quickdropa@gmail.com" class="text-decoration-none text-dark">
      quickdropa@gmail.com
    </a>
  </p>
  
  <p>
    <a href="#" class="text-decoration-none">
      Visit our website
    </a>
  </p>
  
  <p>
    <a href="#" class="text-decoration-none">
      Read our privacy policy
    </a>
  </p>
</div>
{% endblock content %}
