{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Customer Support" %}{% endblock title %}

{% block content %}
<div class="container my-5">
  <h4 class="mb-4">{% trans "Customer Support" %}</h4>
  <p>{% trans "Need Help? Contact us now." %}</p>

  <p>
    <strong>{% trans "Call us at:" %}</strong>
    <a href="tel:+255683602474" class="text-decoration-none text-dark">
      +255 718115401
    </a>
  </p>

  <p>
    <strong>{% trans "Email us at:" %}</strong>
    <a href="mailto:mirajially999@gmail.com" class="text-decoration-none text-dark">
      mirajially999@gmail.com
    </a>
  </p>

  <p>
    <a href="#" class="text-decoration-none">
      {% trans "Visit our website" %}
    </a>
  </p>

  <p>
    <a href="#" class="text-decoration-none">
      {% trans "Read our privacy policy" %}
    </a>
  </p>
  </form>
</div>
{% endblock content %}
